@import "../../styles/variables";

.left {
  width: 675px; // TODO: Flexbox

  & .header {
    color: white;
    font-size: 28px;
    // line-height: 37px;
    // line-height: 28px;
    height: 50px;
    background: $black-gradient;
    text-transform: uppercase;
    border: 1px solid #3FA3E3;
    display: flex;
    align-items: center;
    margin-bottom: 2px;

    & p {
      margin-left: 15px;
      margin-bottom: 3px;
    }
  }

  & .deploy-points {
    display: grid;
    gap: 2px 0;
  }

  & .deploy-point {
    color: white;
    font-size: 23px;
    line-height: 39px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(7, 7, 7, 0.5) 100%);
    height: 42px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 42px 1fr;

    &.squad {
      color: $squad-green;

      & .icon {
        background: linear-gradient(135deg, #89D232 0%, #4F7B1B 100%);
      }
    }
    
    & .name {
      margin-left: 18px;
    }

    & .icon {
      background: linear-gradient(135deg, #3FA3E3 0%, #143E58 100%);
      text-align: center;
      width: 42px;
      height: 42px;

      & .hud-icon {
        transform: scale(2.5);
        image-rendering: optimizeSpeed;
      }

      & .letter {
        font-size: 32px;
        line-height: 43px;
        transform: translateY(-3px);
      }
    }
  }
}

.custom-icon {
  height: 42px;
  width: 42px;
  transform: scale(1.25);
  // filter: drop-shadow(0 0 10px #95FF2B);
}
