@font-face {
  font-family: "bffont";
  src: url("./assets/bffont.ttf");
}

body {
  font-family: bffont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.browser {
    background: url("./assets/background_deploy.png");
  }
}

.sprite-finder {
  text-align: center;
}