@import "../../styles/variables";

ul.nav {
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  width: 250px * 3;
  margin-bottom: 10px;
  
  & li {
    background: $black-gradient;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    & p {
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 3px;
      text-transform: uppercase;
      pointer-events: none; // allow clicking through element
    }

    &.active {
      color: black;
      background: white;
    }

    &:hover:not(.active) {
      background: lighten(#101010, 15%);
    }
  }
}