// COLORS
$squad-green: #89D232;
$friendly-blue: #3FA3E3;
$enemy-red: #D13B0C;
$self-orange: #FE9800;

// GRADIENTS
$black-gradient: linear-gradient(180deg, #101010 0%, #262626 100%);

// SIZES
$container-margin: 50px;